.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .descr {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
      font-size: 17px;
      font-weight: 600;
    }
  }
}
